In [2]:
import pandas as pd
df = pd.read_csv('GoogleApps.csv')

In [5]:
df.describe()

            Rating       Reviews         Size      Installs        Price
count  7352.000000  7.352000e+03  7352.000000  7.352000e+03  7352.000000
mean      4.177775  3.034096e+05    22.769578  8.662313e+06     1.171476
std       0.544145  1.907619e+06    23.379472  5.132294e+07    17.835302
min       1.000000  1.000000e+00     0.008301  1.000000e+00     0.000000
25%       4.000000  1.017500e+02     5.100000  1.000000e+04     0.000000
50%       4.300000  2.212500e+03    14.000000  1.000000e+05     0.000000
75%       4.500000  3.860625e+04    33.000000  1.000000e+06     0.000000
max       5.000000  4.489389e+07   100.000000  1.000000e+09   400.000000

In [10]:
df.head(10)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19.0,10000.0,Free,0.0,Everyone,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14.0,500000.0,Free,0.0,Everyone,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7,5000000.0,Free,0.0,Everyone,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25.0,50000000.0,Free,0.0,Teen,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8,100000.0,Free,0.0,Everyone,"June 20, 2018",1.1,4.4 and up
5,Paper flowers instructions,ART_AND_DESIGN,4.4,167,5.6,50000.0,Free,0.0,Everyone,"March 26, 2017",1.0,2.3 and up
6,Smoke Effect Photo Maker - Smoke Editor,ART_AND_DESIGN,3.8,178,19.0,50000.0,Free,0.0,Everyone,"April 26, 2018",1.1,4.0.3 and up
7,Infinite Painter,ART_AND_DESIGN,4.1,36815,29.0,1000000.0,Free,0.0,Everyone,"June 14, 2018",6.1.61.1,4.2 and up
8,Garden Coloring Book,ART_AND_DESIGN,4.4,13791,33.0,1000000.0,Free,0.0,Everyone,"September 20, 2017",2.9.2,3.0 and up
9,Kids Paint Free - Drawing Fun,ART_AND_DESIGN,4.7,121,3.1,10000.0,Free,0.0,Everyone,"July 3, 2018",2.8,4.0.3 and up

In [14]:
df[df['Type'] != 'Free']

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Last Updated,Current Ver,Android Ver
171,TurboScan: scan documents and receipts in PDF,BUSINESS,4.7,11442,6.80000,100000.0,Paid,4.99,Everyone,"March 25, 2018",1.5.2,4.0 and up
172,Tiny Scanner Pro: PDF Doc Scan,BUSINESS,4.8,10295,39.00000,100000.0,Paid,4.99,Everyone,"April 11, 2017",3.4.6,3.0 and up
211,TurboScan: scan documents and receipts in PDF,BUSINESS,4.7,11442,6.80000,100000.0,Paid,4.99,Everyone,"March 25, 2018",1.5.2,4.0 and up
212,Tiny Scanner Pro: PDF Doc Scan,BUSINESS,4.8,10295,39.00000,100000.0,Paid,4.99,Everyone,"April 11, 2017",3.4.6,3.0 and up
308,Calculator,DATING,2.6,57,6.20000,1000.0,Paid,6.99,Everyone,"October 25, 2017",1.1.6,4.0 and up
...,...,...,...,...,...,...,...,...,...,...,...,...
7261,FO Bixby,PERSONALIZATION,5.0,5,0.84082,100.0,Paid,0.99,Everyone,"April 25, 2018",0.2,7.0 and up
7263,Mu.F.O.,GAME,5.0,2,16.00000,1.0,Paid,0.99,Everyone,"March 3, 2017",1.0,2.3 and up
7301,Fast Tract Diet,HEALTH_AND_FITNESS,4.4,35,2.40000,1000.0,Paid,7.99,Everyone,"August 8, 2018",1.9.3,4.2 and up
7314,Trine 2: Complete Story,GAME,3.8,252,11.00000,10000.0,Paid,16.99,Teen,"February 27, 2015",2.22,5.0 and up
7316,"sugar, sugar",FAMILY,4.2,1405,9.50000,10000.0,Paid,1.20,Everyone,"June 5, 2018",2.7,2.3 and up

In [25]:
free=df[df['Type']=='Free']['Reviews'].max()
paid=df[df['Type']=='Paid']['Reviews'].max()

free-paid

44703802

In [30]:
round(df[df['Content Rating']=='Teen']['Size'].min(),3)

0.315

In [32]:
df['Reviews'].max()

44893888

In [34]:
df[df['Reviews']==44893888]['Category']

1137    GAME
Name: Category, dtype: object

In [35]:
df[(df['Price']>20) & (df['Installs']>10000)]['Rating'].mean()

4.25

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7352 entries, 0 to 7351
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             7352 non-null   object
 1   Category        7352 non-null   object
 2   Rating          7352 non-null   float64
 3   Reviews         7352 non-null   int64
 4   Size            7352 non-null   float64
 5   Installs        7352 non-null   float64
 6   Type            7352 non-null   object
 7   Price           7352 non-null   float64
 8   Content Rating  7352 non-null   object
 9   Last Updated    7352 non-null   object
 10  Current Ver     7352 non-null   object
 11  Android Ver     7352 non-null   object
dtypes: float64(4), int64(1), object(7)
memory usage: 689.4+ KB

In [37]:
df.describe()

            Rating       Reviews         Size      Installs        Price
count  7352.000000  7.352000e+03  7352.000000  7.352000e+03  7352.000000
mean      4.177775  3.034096e+05    22.769578  8.662313e+06     1.171476
std       0.544145  1.907619e+06    23.379472  5.132294e+07    17.835302
min       1.000000  1.000000e+00     0.008301  1.000000e+00     0.000000
25%       4.000000  1.017500e+02     5.100000  1.000000e+04     0.000000
50%       4.300000  2.212500e+03    14.000000  1.000000e+05     0.000000
75%       4.500000  3.860625e+04    33.000000  1.000000e+06     0.000000
max       5.000000  4.489389e+07   100.000000  1.000000e+09   400.000000